bitsandbytes==0.41.0
cog==0.9.9
datasets==2.16.1
deepspeed==0.14.3
editdistance==0.8.1
fastapi==0.111.0
fire==0.6.0
flash_attn==2.5.9.post1
gradio==4.37.1
huggingface_hub==0.23.4
modelscope==1.15.0
numpy==2.0.0
openai==1.35.5
packaging==24.1
pandas==2.2.2
peft==0.4.0
Pillow==10.3.0
pycocoevalcap==1.2
PyYAML==6.0.1
PyYAML==6.0.1
ray==2.24.0
Requests==2.32.3
sglang==0.1.17
shortuuid==1.0.13
tabulate==0.9.0
tokenizers==0.19.1
torch==2.3.0
tqdm==4.66.4
transformers==4.41.2
uvicorn==0.30.1
xformers==0.0.26.post1
